<a href="https://colab.research.google.com/github/jolineuichanco/DataAnalytics/blob/main/Week01_class_exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Week 1** - Working with data frames in Python

In [22]:
# import pandas library using the alias "pd"
import pandas as pd

# if you saved the data set in Google Drive, you need to first mount your Google Drive
from google.colab import drive
drive.mount('/content/drive')

# Load the dataset
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/DAPI course/warehouse_operations.csv')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

## Inspecting the dataframe
At this point, we have a dataframe called "df". Think of df as a spreadsheet.

We next want to inspect the dataframe.

In [23]:
df.shape
# print("The dataframe has", df.shape[0], "rows and", df.shape[1], "columns")

(1500, 7)

In [24]:
df.head()

,order_id,warehouse,date,shift,processing_time,errors,order_type
0,ORD000007,A,2024-01-15,Afternoon,3.2,0,Standard
1,ORD000033,A,2024-01-15,Afternoon,9.3,0,Standard
2,ORD000060,A,2024-01-15,Night,2.1,0,Standard
3,ORD000064,B,2024-01-15,Morning,4.8,0,Express
4,ORD000076,C,2024-01-15,Afternoon,4.5,0,Standard

In [25]:
df.tail()

,order_id,warehouse,date,shift,processing_time,errors,order_type
1495,ORD001470,C,2024-01-21,Afternoon,2.7,0,Standard
1496,ORD001478,C,2024-01-21,Afternoon,5.8,0,Standard
1497,ORD001480,B,2024-01-21,Night,9.8,0,Standard
1498,ORD001482,A,2024-01-21,Morning,5.2,0,Standard
1499,ORD001497,B,2024-01-21,Morning,4.2,0,Standard

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1500 entries, 0 to 1499
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   order_id         1500 non-null   object
 1   warehouse        1500 non-null   object
 2   date             1500 non-null   object
 3   shift            1500 non-null   object
 4   processing_time  1500 non-null   float64
 5   errors           1500 non-null   int64
 6   order_type       1500 non-null   object
dtypes: float64(1), int64(1), object(5)
memory usage: 82.2+ KB

In [27]:
df.describe()

       processing_time       errors
count      1500.000000  1500.000000
mean          5.313933     0.076000
std           2.248136     0.289159
min           0.400000     0.000000
25%           3.700000     0.000000
50%           5.100000     0.000000
75%           6.600000     0.000000
max          19.900000     2.000000

## Selecting rows, columns, and elements
Next, let's try to select rows, columns, and elements

In [36]:
df.iloc[:,4]

0       3.2
1       9.3
2       2.1
3       4.8
4       4.5
       ...
1495    2.7
1496    5.8
1497    9.8
1498    5.2
1499    4.2
Name: processing_time, Length: 1500, dtype: float64

In [28]:
df['processing_time']

0       3.2
1       9.3
2       2.1
3       4.8
4       4.5
       ...
1495    2.7
1496    5.8
1497    9.8
1498    5.2
1499    4.2
Name: processing_time, Length: 1500, dtype: float64

In [37]:
df[['warehouse','errors']]

     warehouse  errors
0            A       0
1            A       0
2            A       0
3            B       0
4            C       0
...        ...     ...
1495         C       0
1496         C       0
1497         B       0
1498         A       0
1499         B       0

[1500 rows x 2 columns]

In [38]:
df.iloc[0]

order_id            ORD000007
warehouse                   A
date               2024-01-15
shift               Afternoon
processing_time           3.2
errors                      0
order_type           Standard
Name: 0, dtype: object

In [39]:
df.iloc[0:5]

,order_id,warehouse,date,shift,processing_time,errors,order_type
0,ORD000007,A,2024-01-15,Afternoon,3.2,0,Standard
1,ORD000033,A,2024-01-15,Afternoon,9.3,0,Standard
2,ORD000060,A,2024-01-15,Night,2.1,0,Standard
3,ORD000064,B,2024-01-15,Morning,4.8,0,Express
4,ORD000076,C,2024-01-15,Afternoon,4.5,0,Standard

In [40]:
df.iloc[-1]

order_id            ORD001497
warehouse                   B
date               2024-01-21
shift                 Morning
processing_time           4.2
errors                      0
order_type           Standard
Name: 1499, dtype: object

In [41]:
df.iloc[3,2]

'2024-01-15'

## Filtering Data
Sometimes, we want to select only the rows that satisfy one or more conditions. This is done with Boolean indexing. It returns another dataframe with only the desired rows included

In [42]:
df[df['processing_time'] > 5]

,order_id,warehouse,date,shift,processing_time,errors,order_type
1,ORD000033,A,2024-01-15,Afternoon,9.3,0,Standard
6,ORD000099,A,2024-01-15,Afternoon,5.5,0,Standard
7,ORD000101,A,2024-01-15,Afternoon,6.5,0,Standard
9,ORD000108,C,2024-01-15,Morning,5.3,0,Express
12,ORD000129,A,2024-01-15,Night,7.7,0,Standard
...,...,...,...,...,...,...,...
1493,ORD001457,C,2024-01-21,Afternoon,7.4,0,Standard
1494,ORD001465,C,2024-01-21,Morning,7.2,0,Standard
1496,ORD001478,C,2024-01-21,Afternoon,5.8,0,Standard
1497,ORD001480,B,2024-01-21,Night,9.8,0,Standard
1498,ORD001482,A,2024-01-21,Morning,5.2,0,Standard

In [43]:
df[df['warehouse'] == 'B']

,order_id,warehouse,date,shift,processing_time,errors,order_type
3,ORD000064,B,2024-01-15,Morning,4.8,0,Express
18,ORD000162,B,2024-01-15,Night,5.2,0,Standard
19,ORD000163,B,2024-01-15,Night,3.4,0,Standard
20,ORD000178,B,2024-01-15,Morning,3.5,0,Express
21,ORD000181,B,2024-01-15,Morning,6.2,0,Standard
...,...,...,...,...,...,...,...
1489,ORD001444,B,2024-01-21,Night,6.0,0,Express
1490,ORD001451,B,2024-01-21,Morning,8.3,0,Express
1491,ORD001454,B,2024-01-21,Morning,3.6,0,Standard
1497,ORD001480,B,2024-01-21,Night,9.8,0,Standard
1499,ORD001497,B,2024-01-21,Morning,4.2,0,Standard

In [49]:
df[df['errors'] > 0]

,order_id,warehouse,date,shift,processing_time,errors,order_type
8,ORD000105,C,2024-01-15,Morning,4.1,1,Standard
48,ORD000393,B,2024-01-15,Morning,4.9,1,Express
52,ORD000451,C,2024-01-15,Night,4.1,1,Standard
62,ORD000499,C,2024-01-15,Night,5.7,2,Standard
108,ORD000859,B,2024-01-15,Night,6.3,1,Standard
...,...,...,...,...,...,...,...
1427,ORD000945,A,2024-01-21,Afternoon,4.8,1,Standard
1442,ORD001048,A,2024-01-21,Night,4.5,1,Standard
1466,ORD001228,A,2024-01-21,Afternoon,6.2,1,Standard
1467,ORD001237,C,2024-01-21,Night,7.6,2,Standard
1468,ORD001250,B,2024-01-21,Night,3.4,1,Standard

### Filtering with multiple conditions

In [50]:
# Warehouse B orders with errors
# Uses the AND condition using the symbol '&'
df[(df['warehouse'] == 'B') & (df['errors'] > 0)]

,order_id,warehouse,date,shift,processing_time,errors,order_type
48,ORD000393,B,2024-01-15,Morning,4.9,1,Express
108,ORD000859,B,2024-01-15,Night,6.3,1,Standard
110,ORD000863,B,2024-01-15,Night,3.4,1,Standard
117,ORD000922,B,2024-01-15,Night,3.2,1,Standard
188,ORD001379,B,2024-01-15,Night,4.1,1,Standard
207,ORD001474,B,2024-01-15,Night,6.0,1,Standard
227,ORD000104,B,2024-01-16,Night,7.7,1,Express
234,ORD000126,B,2024-01-16,Afternoon,7.5,1,Standard
297,ORD000573,B,2024-01-16,Afternoon,5.4,1,Standard
317,ORD000701,B,2024-01-16,Afternoon,3.9,1,Standard
326,ORD000758,B,2024-01-16,Night,2.3,1,Express
359,ORD000977,B,2024-01-16,Night,7.4,1,Standard
421,ORD000042,B,2024-01-17,Night,5.2,1,Express
429,ORD000130,B,2024-01-17,Night,5.9,1,Standard
431,ORD000143,B,2024-01-17,Night,4.4,1,Standard
491,ORD000658,B,2024-01-17,Afternoon,3.5,1,Standard
498,ORD000693,B,2024-01-17,Morning,5.0,1,Standard
509,ORD000793,B,2024-01-17,Night,5.1,1,Standard
514,ORD000824,B,2024-01-17,Night,4.5,1,Standard
526,ORD000928,B,2024-01-17,Night,5.1,1,Standard
628,ORD000082,B,2024-01-18,Morning,4.5,1,Express
691,ORD000475,B,2024-01-18,Morning,3.6,1,Standard
703,ORD000545,B,2024-01-18,Night,4.4,1,Express
806,ORD001173,B,2024-01-18,Night,6.4,1,Standard
857,ORD000004,B,2024-01-19,Night,4.4,1,Standard
909,ORD000360,B,2024-01-19,Afternoon,5.7,1,Standard
954,ORD000624,B,2024-01-19,Night,6.6,1,Express
968,ORD000696,B,2024-01-19,Afternoon,6.5,1,Standard
987,ORD000835,B,2024-01-19,Night,2.3,1,Standard
999,ORD000925,B,2024-01-19,Morning,8.1,1,Standard
1019,ORD001087,B,2024-01-19,Afternoon,5.3,1,Standard
1040,ORD001275,B,2024-01-19,Morning,7.3,1,Standard
1076,ORD001483,B,2024-01-19,Morning,5.4,1,Standard
1090,ORD000097,B,2024-01-20,Morning,5.4,1,Express
1151,ORD000551,B,2024-01-20,Afternoon,12.4,1,Standard
1199,ORD000830,B,2024-01-20,Afternoon,5.5,2,Standard
1268,ORD001280,B,2024-01-20,Morning,6.6,1,Standard
1290,ORD001409,B,2024-01-20,Morning,8.7,1,Standard
1316,ORD000102,B,2024-01-21,Night,5.4,1,Standard
1377,ORD000574,B,2024-01-21,Morning,7.5,1,Standard
1468,ORD001250,B,2024-01-21,Night,3.4,1,Standard

In [51]:
# Express orders or those with errors
# Uses the OR condition using the symbol '|'
df[(df['order_type'] == 'Express') | (df['errors'] > 0)]

,order_id,warehouse,date,shift,processing_time,errors,order_type
3,ORD000064,B,2024-01-15,Morning,4.8,0,Express
8,ORD000105,C,2024-01-15,Morning,4.1,1,Standard
9,ORD000108,C,2024-01-15,Morning,5.3,0,Express
16,ORD000149,A,2024-01-15,Night,8.1,0,Express
20,ORD000178,B,2024-01-15,Morning,3.5,0,Express
...,...,...,...,...,...,...,...
1484,ORD001401,A,2024-01-21,Afternoon,2.6,0,Express
1486,ORD001420,C,2024-01-21,Morning,4.6,0,Express
1489,ORD001444,B,2024-01-21,Night,6.0,0,Express
1490,ORD001451,B,2024-01-21,Morning,8.3,0,Express
1492,ORD001455,A,2024-01-21,Morning,1.4,0,Express

In [59]:
# select orders from specific warehouses
whs_list = ['A', 'B']
df[df['warehouse'].isin(whs_list)]

,order_id,warehouse,date,shift,processing_time,errors,order_type
0,ORD000007,A,2024-01-15,Afternoon,3.2,0,Standard
1,ORD000033,A,2024-01-15,Afternoon,9.3,0,Standard
2,ORD000060,A,2024-01-15,Night,2.1,0,Standard
3,ORD000064,B,2024-01-15,Morning,4.8,0,Express
5,ORD000086,A,2024-01-15,Afternoon,3.1,0,Standard
...,...,...,...,...,...,...,...
1491,ORD001454,B,2024-01-21,Morning,3.6,0,Standard
1492,ORD001455,A,2024-01-21,Morning,1.4,0,Express
1497,ORD001480,B,2024-01-21,Night,9.8,0,Standard
1498,ORD001482,A,2024-01-21,Morning,5.2,0,Standard
1499,ORD001497,B,2024-01-21,Morning,4.2,0,Standard

In [58]:
# select orders except from specific warehouses
whs_list = ['A', 'B']
df[~df['warehouse'].isin(whs_list)]

,order_id,warehouse,date,shift,processing_time,errors,order_type
4,ORD000076,C,2024-01-15,Afternoon,4.5,0,Standard
8,ORD000105,C,2024-01-15,Morning,4.1,1,Standard
9,ORD000108,C,2024-01-15,Morning,5.3,0,Express
10,ORD000119,C,2024-01-15,Afternoon,4.0,0,Standard
17,ORD000151,C,2024-01-15,Night,2.3,0,Standard
...,...,...,...,...,...,...,...
1486,ORD001420,C,2024-01-21,Morning,4.6,0,Express
1493,ORD001457,C,2024-01-21,Afternoon,7.4,0,Standard
1494,ORD001465,C,2024-01-21,Morning,7.2,0,Standard
1495,ORD001470,C,2024-01-21,Afternoon,2.7,0,Standard
1496,ORD001478,C,2024-01-21,Afternoon,5.8,0,Standard

## Sorting Data

In [60]:
df.sort_values('processing_time')

,order_id,warehouse,date,shift,processing_time,errors,order_type
856,ORD001500,C,2024-01-18,Morning,0.4,0,Standard
521,ORD000882,C,2024-01-17,Morning,0.5,0,Standard
76,ORD000593,A,2024-01-15,Night,0.9,0,Standard
1407,ORD000783,A,2024-01-21,Morning,0.9,0,Standard
151,ORD001156,C,2024-01-15,Morning,1.1,0,Express
...,...,...,...,...,...,...,...
983,ORD000819,A,2024-01-19,Morning,13.6,0,Standard
229,ORD000109,A,2024-01-16,Morning,13.7,0,Standard
632,ORD000115,B,2024-01-18,Night,13.7,0,Standard
706,ORD000568,B,2024-01-18,Morning,14.1,0,Express
671,ORD000357,A,2024-01-18,Night,19.9,0,Express

In [63]:
df.sort_values('processing_time', ascending=False)

,order_id,warehouse,date,shift,processing_time,errors,order_type
671,ORD000357,A,2024-01-18,Night,19.9,0,Express
706,ORD000568,B,2024-01-18,Morning,14.1,0,Express
229,ORD000109,A,2024-01-16,Morning,13.7,0,Standard
632,ORD000115,B,2024-01-18,Night,13.7,0,Standard
983,ORD000819,A,2024-01-19,Morning,13.6,0,Standard
...,...,...,...,...,...,...,...
151,ORD001156,C,2024-01-15,Morning,1.1,0,Express
76,ORD000593,A,2024-01-15,Night,0.9,0,Standard
1407,ORD000783,A,2024-01-21,Morning,0.9,0,Standard
521,ORD000882,C,2024-01-17,Morning,0.5,0,Standard
856,ORD001500,C,2024-01-18,Morning,0.4,0,Standard

In [64]:
df.sort_values(['warehouse', 'processing_time'])

,order_id,warehouse,date,shift,processing_time,errors,order_type
76,ORD000593,A,2024-01-15,Night,0.9,0,Standard
1407,ORD000783,A,2024-01-21,Morning,0.9,0,Standard
1460,ORD001188,A,2024-01-21,Night,1.2,0,Standard
547,ORD001079,A,2024-01-17,Night,1.3,0,Standard
603,ORD001427,A,2024-01-17,Afternoon,1.3,0,Standard
...,...,...,...,...,...,...,...
80,ORD000612,C,2024-01-15,Night,10.9,0,Express
745,ORD000811,C,2024-01-18,Afternoon,10.9,0,Express
395,ORD001334,C,2024-01-16,Afternoon,11.0,0,Standard
276,ORD000438,C,2024-01-16,Afternoon,11.2,0,Standard
980,ORD000780,C,2024-01-19,Night,12.5,0,Standard

## Grouping and Aggregation

In [74]:
# count total number of rows (size) by warehouse
df.groupby('warehouse').size()

warehouse
A    518
B    439
C    543
dtype: int64

In [66]:
# compute average processing time by warehouse
df.groupby('warehouse')['processing_time'].mean()

warehouse
A    5.201351
B    6.041686
C    4.832965
Name: processing_time, dtype: float64

In [76]:
df.groupby(['warehouse','shift'])['processing_time'].mean()

warehouse  shift
A          Afternoon    5.228649
           Morning      5.254268
           Night        5.120118
B          Afternoon    6.061677
           Morning      6.311538
           Night        5.771127
C          Afternoon    4.871939
           Morning      4.761878
           Night        4.864458
Name: processing_time, dtype: float64

In [80]:
df.groupby('warehouse').agg(
    Total_errors = ('errors', 'sum'),
    Total_standard_orders = ('order_type', lambda x: (x == 'Standard').sum()),
    Total_express_orders = ('order_type', lambda x: (x == 'Express').sum()),
    Max_time = ('processing_time', 'max')
)

           Total_errors  Total_standard_orders  Total_express_orders  Max_time
warehouse
A                    34                    399                   119      19.9
B                    42                    328                   111      14.1
C                    38                    415                   128      12.5

## **Your turn next!**

### Practice Question 1: Inspecting Data and Basic Selection

1.  What are the unique values present in the 'shift' column, and how many unique values are there?
2.  Display the first 10 rows of only the 'date' and 'order_type' columns from the original DataFrame `df`.

In [ ]:
# enter your code here

### Practice Question 2: Filtering Data

Filter the DataFrame to find all orders from 'Warehouse C' that had a 'processing_time' less than or equal to 3.0 minutes AND had no errors (errors = 0). Display the resulting DataFrame.

In [ ]:
# enter your code here

### Practice Question 3: Sorting Data

Sort the DataFrame `df` first by 'warehouse' in ascending order, and then by 'processing_time' in descending order. Display the first 15 rows of the sorted DataFrame.

In [ ]:
# enter your code here

### Practice Question 4: Simple Grouping and Aggregation

Calculate the following for each 'warehouse':
1.  The total number of orders (count of rows).
2.  The average 'processing_time'.
3.  The sum of 'errors'.

Display the results for each warehouse.

In [ ]:
# enter your code here

### Practice Question 5: Advanced Grouping and Aggregation with `agg`

Using the `groupby()` and `agg()` functions, group the data by 'order_type' and calculate the following metrics:

*   `Min_Processing_Time`: The minimum `processing_time`.
*   `Max_Errors`: The maximum `errors` recorded for that order type.
*   `Avg_Processing_Time`: The average `processing_time`.
*   `Total_Orders`: The total count of orders for that order type.

Display the aggregated results.

In [ ]:
# enter your code here