# Introduction to Python (Fall 2024)
## 1. Overview

Credits to Holly Wiberg, Léonard Boussioux, Asterios Tsiourvas, Periklis Petridis, Kimberly Villalobos and Sean Lo who wrote the content you see before you.

## What is Python?

Python is a general-purpose programming language. From the Python website:

> Python is an easy to learn, powerful programming language. It has efficient high-level data structures and a simple but effective approach to object-oriented programming. Python’s elegant syntax and dynamic typing, together with its interpreted nature, make it an ideal language for scripting and rapid application development in many areas on most platforms.

Python is widely used for writing production code, automating tasks, machine learning, analyzing and visualizing data, and building web applications, among many others.


A few things to know about Python:
1. Python is a *high-level*, *interpreted* language with high-level data types, such as flexible arrays and dictionaries. This allows Python programs to be compact and readable, compared to static, lower-level languages like C, C++, or Java. In fact, Python is the most popular programming language as of Aug 2023 (according to [TIOBE](https://www.tiobe.com/tiobe-index/))!
2. Python is *object-oriented*, which means that software design is organized around objects and special functions (called "methods") for those objects. This is in contrast to functional programming languages in which software design is organized around functions and composing them together in small units.
3. Being a very popular and mature language, Python has libraries for almost anything. Some of the most widely-used examples in data science are:
    - `numpy` for numerical computation at C-like speeds;
    - `pandas` for exploring and manipulating data;
    - `matplotlib` for plotting graphs;
    - `scikit-learn` for statistics and machine learning;
    - `tensorflow` and `pytorch` for deep learning.

Further reading:
- https://docs.python.org/3/tutorial/appetite.html
- https://en.wikipedia.org/wiki/Object-oriented_programming
- https://en.wikipedia.org/wiki/Functional_programming

## Agenda

We're going to give you a whirlwind tour of Python, covering the following topics:
- How we store *information*: Variables, I/O, Data structures
- How we perform *computations*: Functions, Control flow

---

# Module 1: Variables

Python can manipulate data such as numbers and text, by storing them as variables. Here are some examples:

### Numbers

In [ ]:
# Python is a calculator!
x = 2 + 5 # Here, we create a variable `x` and bind the value of 2 + 5 to it
x

7

In [ ]:
# You can include various mathematical expressions:
(1 + 2) * (3 - x) / 0.5

-24.0

In [ ]:
# Exponentiation:
x ** 2

49

In [ ]:
#  ^ operator in Python is a bitwise XOR (exclusive OR) operator, not an exponentiation operator.
# Here's how it works:
# The number 7 in binary is 0111.
# The number 2 in binary is 0010
x ^ 2

5

In [ ]:
# Division v.s. integer division:
# floor division
print(x // 3)
print(x / 3)
# Computing the remainder:
print(x % 3)

2
2.3333333333333335
1

There are a few different primitive data types for expressing numbers, such as `int` for integers and `float` for floating-point decimals.

In [ ]:
# Get the type of a variable
type(x)

int

You can round decimals to the required precision:

In [ ]:
# Rounding numbers
round(x / 3, ndigits = 1)

2.3

You can also print numbers in a easy-to-read format (see https://docs.python.org/3/library/stdtypes.html#old-string-formatting)

In [ ]:
# Formatting numbers for printing (different from rounding)
format(x / 3, ".2f")

'2.33'

#### **Advanced material**: complex numbers, custom number types

In [ ]:
# In-built support for complex numbers
1 + 2.3j

(1+2.3j)

In [ ]:
# `Decimal` for fixed-point decimal arithmetic
from decimal import Decimal
print(Decimal(0.1)) # what's happening here?

# When you use Decimal from the decimal module in Python, it creates a decimal
# object that provides more precision and control over floating-point arithmetic
# than the standard float type. When you write Decimal(0.1), you are passing a
# floating-point number (0.1) to the Decimal constructor.

print(Decimal("0.1"))

0.1000000000000000055511151231257827021181583404541015625
0.1

In [ ]:
# `Fraction` for storing rational numbers exactly

# When you write Fraction(0.3), you're passing a floating-point number (0.3)
#  to the Fraction constructor.
# Like with the Decimal example earlier, the floating-point representation of
#  0.3 is not exact in binary. The actual binary representation is a number
# close to 0.3, but not exactly 0.3.
# As a result, the Fraction object represents this inexact value as a fraction.
# The output will be a fraction that is equivalent to the binary approximation of 0.3.

from fractions import Fraction
print(Fraction(0.3)) # Again, ???
print(Fraction("0.3"))
print(Fraction(3, 10))

5404319552844595/18014398509481984
3/10
3/10

(Further reading: https://docs.python.org/3/tutorial/floatingpoint.html#tut-fp-issues)

### Text

Text are represented in Python via the string (`str`) data type.

In [ ]:
my_string = "Hello world!"
print(my_string)

Hello world!

One can represent the same string in different ways:

In [ ]:
# Single quotation marks
print('Hello world!')
# Double quotation marks
print("Hello world!")
# Double quotes become useful if you have to quote single quotes:
print('doesn\'t')
print("doesn't")

Hello world!
Hello world!
doesn't
doesn't

There are special characters you can introduce in strings (called "escape characters"). Some examples:

In [ ]:
print("Hello\tworld!") # tab
print("Hello\nworld!") # newline

Hello	world!
Hello
world!

Here's a few ways to represent a string over multiple lines:

In [ ]:
# Using \n
print("Machine Learning under a\nModern Optimization Lens")
print()
# Using triple quotes
print("""
Machine Learning under a
Modern Optimization Lens
""")

Machine Learning under a
Modern Optimization Lens


Machine Learning under a
Modern Optimization Lens

You can concatenate (glue together) strings using `+` and repeat them using `*`:

In [ ]:
2 * "one plus " + "two equals four"

'one plus one plus two equals four'

Under the hood, a string is a sequence of characters! This means you can index into strings to retrieve specific characters:

In [ ]:
my_string

'Hello world!'

In [ ]:
print(my_string[6]) # character in position 6
print(my_string[-1]) # character in last position

w
!

Python is a zero-indexed language, so the first index of any sequence is 0. You can even look at substrings of a string by using slicing:

In [ ]:
print(my_string[0:5]) # characters from position 0 (incl) to position 5 (excl)
print(my_string[-6:]) # characters from position -6 (incl) to the end
print(my_string[0::1]) # every first character, from position 0 (incl) to the end
print(my_string[0::2]) # every other character, from position 0 (incl) to the end

Hello
world!
Hello world!
Hlowrd

There are some built-in functions you can apply to strings such as `len()` to get its length:

In [ ]:
len(my_string)

12

Strings are *immutable*, which means that once created and assigned to a variable, they cannot be changed. If you want to change certain characters in a string, you should create a new string:

In [ ]:
my_string[6:] = "NYU!"

TypeError: 'str' object does not support item assignment

In [ ]:
my_new_string = my_string[:6] + "NYU!"
print(my_new_string)

Hello NYU!

Further reading:
- On string methods (operations on strings): https://docs.python.org/3/library/stdtypes.html#string-methods
- Formatted string literals (when you want to print strings with values in them): https://docs.python.org/3/reference/lexical_analysis.html#f-strings

### Lists

We've already seen strings as a sequence of characters, which you can index into with numbers (single positions) or slices (substrings). Lists are our first example of composite data types, and are flexible containers in square brackets with items separated by commas:

In [ ]:
squares = [1, 4, 9, 16, 25]
squares

[1, 4, 9, 16, 25]

Just like other sequence types (like strings), you can index and slice into them:

In [ ]:
print(squares[2]) # indexing returns the item
print(squares[0::2]) # slicing returns a new list
print(len(squares))

9
[1, 9, 25]
5

Lists are *mutable* data structures. What this means is that you can change them (or their elements) after they are created. This is very unlike strings! Let's see an example:

In [ ]:
not_squares = squares.copy() # returns a copy of the list

In [ ]:
not_squares

[1, 4, 9, 16, 25]

In [ ]:
not_squares[1] = 3
not_squares

[1, 3, 9, 16, 25]

In [ ]:
squares # not modified, since we modified the copy

[1, 4, 9, 16, 25]

Lists have many built-in convenience functions:
- we can reverse them with `reverse()`;
- we can append (using `append()`) items to the end of the list;
- we can extend a list (using `extend()`) with items from another list (in fact, another sequence);
- we can get the last element and remove it from the list using `pop()`;

In [ ]:
# Reverses the list in-place
squares.reverse()
squares

[25, 16, 9, 4, 1]

In [ ]:
# Adds an element to the end of the list
squares.append(36)
squares

[25, 16, 9, 4, 1, 36]

In [ ]:
# Extends with other lists
squares.extend([49, 64])
squares

[25, 16, 9, 4, 1, 36, 49, 64]

In [ ]:
# What's the difference? Here's an example:
squares.append([81, 100])
squares

[25, 16, 9, 4, 1, 36, 49, 64, [81, 100]]

In [ ]:
# Pop the last element from the list
last = squares.pop()
print("last: ", last)
print(squares)

last:  [81, 100]
[25, 16, 9, 4, 1, 36, 49, 64]

If all elements of the list are numbers, we can `sum` them; also, we can `sort` them if the elements are comparable.

In [ ]:
sum(squares)

204

In [ ]:
# Version 1: returning a new list
sorted(squares)

[1, 4, 9, 16, 25, 36, 49, 64]

In [ ]:
squares # is this going to be sorted?

[25, 16, 9, 4, 1, 36, 49, 64]

In [ ]:
# Version 2: sorting the list inplace
squares.sort()
squares

[1, 4, 9, 16, 25, 36, 49, 64]

In [ ]:
# Sorting in reverse order
squares.sort(reverse = True)
squares

[64, 49, 36, 25, 16, 9, 4, 1]

Further reading:
- List methods (and methods for other sequence types): https://docs.python.org/3/library/stdtypes.html#typesseq-common

#### **Advanced material**: shallow vs deep copies
- https://docs.python.org/3/library/copy.html#shallow-vs-deep-copy

# Module 2 - Reading from files

We've now seen how Python stores data in variables and groups logical components together to form functions. One often needs to access data stored in files and write to files, and we'll see how to do that here.

---

The file of interest is `wordle_words.txt`, a list of 5-letter English words used in the game Wordle.

### Reading from files

There are several ways to open a file. We'll see a few of them:

In [ ]:
# First method: using f.read()
!wget -O wordle_words.txt https://www.dropbox.com/scl/fi/8wbkx07e7p08f354ejzrm/wordle_words.txt?rlkey=1wwol9rbkzcavi3n0oflmkr6z&dl=0

filepath = "wordle_words.txt"
with open(filepath, "r") as f:
    file = f.read()

--2025-04-08 16:04:34--  https://www.dropbox.com/scl/fi/8wbkx07e7p08f354ejzrm/wordle_words.txt?rlkey=1wwol9rbkzcavi3n0oflmkr6z
Resolving www.dropbox.com (www.dropbox.com)... 162.125.2.18, 2620:100:6017:18::a27d:212
Connecting to www.dropbox.com (www.dropbox.com)|162.125.2.18|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://uc8fea42af994a1daf900da8c1b6.dl.dropboxusercontent.com/cd/0/inline/CnYWaZXngKcgFoOMDvqv_2XiiHkenT8jnxUJpfAGreHFdmWplOtiL_48VOrVvfgOwGN-AdycFzTKF0nsU9AScqYDmE0kw1QMV-Rbfl7EfDHHijCgLf0VH3PEhfZAbZXRneQMMmxUmuT-BDUFq_CmudnK/file# [following]
--2025-04-08 16:04:35--  https://uc8fea42af994a1daf900da8c1b6.dl.dropboxusercontent.com/cd/0/inline/CnYWaZXngKcgFoOMDvqv_2XiiHkenT8jnxUJpfAGreHFdmWplOtiL_48VOrVvfgOwGN-AdycFzTKF0nsU9AScqYDmE0kw1QMV-Rbfl7EfDHHijCgLf0VH3PEhfZAbZXRneQMMmxUmuT-BDUFq_CmudnK/file
Resolving uc8fea42af994a1daf900da8c1b6.dl.dropboxusercontent.com (uc8fea42af994a1daf900da8c1b6.dl.dropboxusercontent.com)... 162.125.2.15, 2620:100:6017:15::a27d:20f
Connecting to uc8fea42af994a1daf900da8c1b6.dl.dropboxusercontent.com (uc8fea42af994a1daf900da8c1b6.dl.dropboxusercontent.com)|162.125.2.15|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 13853 (14K) [text/plain]
Saving to: ‘wordle_words.txt’

wordle_words.txt    100%[===================>]  13.53K  --.-KB/s    in 0s

2025-04-08 16:04:35 (117 MB/s) - ‘wordle_words.txt’ saved [13853/13853]

In the above code, we opened our file using the `open()` function. It takes the filepath of the file, together with a second argument denoting the *mode* in which to open the file (here `"r"` indicates we are opening the file in read-only mode).

Here, we used the `with` keyword (more info [here](https://docs.python.org/3/reference/compound_stmts.html#with)). This keyword defines a *context* in which to open the file, and makes sure that the appropriate setup and cleanup actions are taken (e.g. the file is closed after it is read). It's generally good practice to use `with` statements to read from and write to files.

Here, `f` is now the opened file object, from which `file` contains the contents (what happens after you read it using `f.read()`). Let's examine the file contents:

In [ ]:
file

'aback\nabase\nabate\nabbey\nabbot\nabhor\nabide\nabled\nabode\nabort\nabout\nabove\nabuse\nabyss\nacorn\nacrid\nactor\nacute\nadage\nadapt\nadept\nadmin\nadmit\nadobe\nadopt\nadore\nadorn\nadult\naffix\nafire\nafoot\nafoul\nafter\nagain\nagape\nagate\nagent\nagile\naging\naglow\nagony\nagree\nahead\naider\naisle\nalarm\nalbum\nalert\nalgae\nalibi\nalien\nalign\nalike\nalive\nallay\nalley\nallot\nallow\nalloy\naloft\nalone\nalong\naloof\naloud\nalpha\naltar\nalter\namass\namaze\namber\namble\namend\namiss\namity\namong\nample\namply\namuse\nangel\nanger\nangle\nangry\nangst\nanime\nankle\nannex\nannoy\nannul\nanode\nantic\nanvil\naorta\napart\naphid\naping\napnea\napple\napply\napron\naptly\narbor\nardor\narena\nargue\narise\narmor\naroma\narose\narray\narrow\narson\nartsy\nascot\nashen\naside\naskew\nassay\nasset\natoll\natone\nattic\naudio\naudit\naugur\naunty\navail\navert\navian\navoid\nawait\nawake\naward\naware\nawash\nawful\nawoke\naxial\naxiom\naxion\nazure\nbacon\nbadge\nbadly\nbagel\nbaggy\nbaker\nbaler\nbalmy\nbanal\nbanjo\nbarge\nbaron\nbasal\nbasic\nbasil\nbasin\nbasis\nbaste\nbatch\nbathe\nbaton\nbatty\nbawdy\nbayou\nbeach\nbeady\nbeard\nbeast\nbeech\nbeefy\nbefit\nbegan\nbegat\nbeget\nbegin\nbegun\nbeing\nbelch\nbelie\nbelle\nbelly\nbelow\nbench\nberet\nberry\nberth\nbeset\nbetel\nbevel\nbezel\nbible\nbicep\nbiddy\nbigot\nbilge\nbilly\nbinge\nbingo\nbiome\nbirch\nbirth\nbison\nbitty\nblack\nblade\nblame\nbland\nblank\nblare\nblast\nblaze\nbleak\nbleat\nbleed\nbleep\nblend\nbless\nblimp\nblind\nblink\nbliss\nblitz\nbloat\nblock\nbloke\nblond\nblood\nbloom\nblown\nbluer\nbluff\nblunt\nblurb\nblurt\nblush\nboard\nboast\nbobby\nboney\nbongo\nbonus\nbooby\nboost\nbooth\nbooty\nbooze\nboozy\nborax\nborne\nbosom\nbossy\nbotch\nbough\nboule\nbound\nbowel\nboxer\nbrace\nbraid\nbrain\nbrake\nbrand\nbrash\nbrass\nbrave\nbravo\nbrawl\nbrawn\nbread\nbreak\nbreed\nbriar\nbribe\nbrick\nbride\nbrief\nbrine\nbring\nbrink\nbriny\nbrisk\nbroad\nbroil\nbroke\nbrood\nbrook\nbroom\nbroth\nbrown\nbrunt\nbrush\nbrute\nbuddy\nbudge\nbuggy\nbugle\nbuild\nbuilt\nbulge\nbulky\nbully\nbunch\nbunny\nburly\nburnt\nburst\nbused\nbushy\nbutch\nbutte\nbuxom\nbuyer\nbylaw\ncabal\ncabby\ncabin\ncable\ncacao\ncache\ncacti\ncaddy\ncadet\ncagey\ncairn\ncamel\ncameo\ncanal\ncandy\ncanny\ncanoe\ncanon\ncaper\ncaput\ncarat\ncargo\ncarol\ncarry\ncarve\ncaste\ncatch\ncater\ncatty\ncaulk\ncause\ncavil\ncease\ncedar\ncello\nchafe\nchaff\nchain\nchair\nchalk\nchamp\nchant\nchaos\nchard\ncharm\nchart\nchase\nchasm\ncheap\ncheat\ncheck\ncheek\ncheer\nchess\nchest\nchick\nchide\nchief\nchild\nchili\nchill\nchime\nchina\nchirp\nchock\nchoir\nchoke\nchord\nchore\nchose\nchuck\nchump\nchunk\nchurn\nchute\ncider\ncigar\ncinch\ncirca\ncivic\ncivil\nclack\nclaim\nclamp\nclang\nclank\nclash\nclasp\nclass\nclean\nclear\ncleat\ncleft\nclerk\nclick\ncliff\nclimb\ncling\nclink\ncloak\nclock\nclone\nclose\ncloth\ncloud\nclout\nclove\nclown\ncluck\nclued\nclump\nclung\ncoach\ncoast\ncobra\ncocoa\ncolon\ncolor\ncomet\ncomfy\ncomic\ncomma\nconch\ncondo\nconic\ncopse\ncoral\ncorer\ncorny\ncouch\ncough\ncould\ncount\ncoupe\ncourt\ncoven\ncover\ncovet\ncovey\ncower\ncoyly\ncrack\ncraft\ncramp\ncrane\ncrank\ncrash\ncrass\ncrate\ncrave\ncrawl\ncraze\ncrazy\ncreak\ncream\ncredo\ncreed\ncreek\ncreep\ncreme\ncrepe\ncrept\ncress\ncrest\ncrick\ncried\ncrier\ncrime\ncrimp\ncrisp\ncroak\ncrock\ncrone\ncrony\ncrook\ncross\ncroup\ncrowd\ncrown\ncrude\ncruel\ncrumb\ncrump\ncrush\ncrust\ncrypt\ncubic\ncumin\ncurio\ncurly\ncurry\ncurse\ncurve\ncurvy\ncutie\ncyber\ncycle\ncynic\ndaddy\ndaily\ndairy\ndaisy\ndally\ndance\ndandy\ndatum\ndaunt\ndealt\ndeath\ndebar\ndebit\ndebug\ndebut\ndecal\ndecay\ndecor\ndecoy\ndecry\ndefer\ndeign\ndeity\ndelay\ndelta\ndelve\ndemon\ndemur\ndenim\ndense\ndepot\ndepth\nderby\ndeter\ndetox\ndeuce\ndevil\ndiary\ndicey\ndigit\ndilly\ndimly\ndiner\ndingo\ndingy\ndiode\ndirge\ndirty\ndisco\nditch\nditto\nditty\ndiver\ndizzy\ndodge\ndodgy\ndogma\ndoing\ndolly\ndonor\ndonut\ndopey\ndoubt\ndough\ndowdy\ndowel\ndowny\ndowry\ndozen\ndraft\ndrain\ndrake\ndrama\ndrank\ndrape\ndrawl\ndrawn\ndread\ndream\ndress\ndried\ndrier\ndrift\ndrill\ndrink\ndrive\ndroit\ndroll\ndrone\ndrool\ndroop\ndross\ndrove\ndrown\ndruid\ndrunk\ndryer\ndryly\nduchy\ndully\ndummy\ndumpy\ndunce\ndusky\ndusty\ndutch\nduvet\ndwarf\ndwell\ndwelt\ndying\neager\neagle\nearly\nearth\neasel\neaten\neater\nebony\neclat\nedict\nedify\neerie\negret\neight\neject\neking\nelate\nelbow\nelder\nelect\nelegy\nelfin\nelide\nelite\nelope\nelude\nemail\nembed\nember\nemcee\nempty\nenact\nendow\nenema\nenemy\nenjoy\nennui\nensue\nenter\nentry\nenvoy\nepoch\nepoxy\nequal\nequip\nerase\nerect\nerode\nerror\nerupt\nessay\nester\nether\nethic\nethos\netude\nevade\nevent\nevery\nevict\nevoke\nexact\nexalt\nexcel\nexert\nexile\nexist\nexpel\nextol\nextra\nexult\neying\nfable\nfacet\nfaint\nfairy\nfaith\nfalse\nfancy\nfanny\nfarce\nfatal\nfatty\nfault\nfauna\nfavor\nfeast\nfecal\nfeign\nfella\nfelon\nfemme\nfemur\nfence\nferal\nferry\nfetal\nfetch\nfetid\nfetus\nfever\nfewer\nfiber\nficus\nfield\nfiend\nfiery\nfifth\nfifty\nfight\nfiler\nfilet\nfilly\nfilmy\nfilth\nfinal\nfinch\nfiner\nfirst\nfishy\nfixer\nfizzy\nfjord\nflack\nflail\nflair\nflake\nflaky\nflame\nflank\nflare\nflash\nflask\nfleck\nfleet\nflesh\nflick\nflier\nfling\nflint\nflirt\nfloat\nflock\nflood\nfloor\nflora\nfloss\nflour\nflout\nflown\nfluff\nfluid\nfluke\nflume\nflung\nflunk\nflush\nflute\nflyer\nfoamy\nfocal\nfocus\nfoggy\nfoist\nfolio\nfolly\nforay\nforce\nforge\nforgo\nforte\nforth\nforty\nforum\nfound\nfoyer\nfrail\nframe\nfrank\nfraud\nfreak\nfreed\nfreer\nfresh\nfriar\nfried\nfrill\nfrisk\nfritz\nfrock\nfrond\nfront\nfrost\nfroth\nfrown\nfroze\nfruit\nfudge\nfugue\nfully\nfungi\nfunky\nfunny\nfuror\nfurry\nfussy\nfuzzy\ngaffe\ngaily\ngamer\ngamma\ngamut\ngassy\ngaudy\ngauge\ngaunt\ngauze\ngavel\ngawky\ngayer\ngayly\ngazer\ngecko\ngeeky\ngeese\ngenie\ngenre\nghost\nghoul\ngiant\ngiddy\ngipsy\ngirly\ngirth\ngiven\ngiver\nglade\ngland\nglare\nglass\nglaze\ngleam\nglean\nglide\nglint\ngloat\nglobe\ngloom\nglory\ngloss\nglove\nglyph\ngnash\ngnome\ngodly\ngoing\ngolem\ngolly\ngonad\ngoner\ngoody\ngooey\ngoofy\ngoose\ngorge\ngouge\ngourd\ngrace\ngrade\ngraft\ngrail\ngrain\ngrand\ngrant\ngrape\ngraph\ngrasp\ngrass\ngrate\ngrave\ngravy\ngraze\ngreat\ngreed\ngreen\ngreet\ngrief\ngrill\ngrime\ngrimy\ngrind\ngripe\ngroan\ngroin\ngroom\ngrope\ngross\ngroup\ngrout\ngrove\ngrowl\ngrown\ngruel\ngruff\ngrunt\nguard\nguava\nguess\nguest\nguide\nguild\nguile\nguilt\nguise\ngulch\ngully\ngumbo\ngummy\nguppy\ngusto\ngusty\ngypsy\nhabit\nhairy\nhalve\nhandy\nhappy\nhardy\nharem\nharpy\nharry\nharsh\nhaste\nhasty\nhatch\nhater\nhaunt\nhaute\nhaven\nhavoc\nhazel\nheady\nheard\nheart\nheath\nheave\nheavy\nhedge\nhefty\nheist\nhelix\nhello\nhence\nheron\nhilly\nhinge\nhippo\nhippy\nhitch\nhoard\nhobby\nhoist\nholly\nhomer\nhoney\nhonor\nhorde\nhorny\nhorse\nhotel\nhotly\nhound\nhouse\nhovel\nhover\nhowdy\nhuman\nhumid\nhumor\nhumph\nhumus\nhunch\nhunky\nhurry\nhusky\nhussy\nhutch\nhydro\nhyena\nhymen\nhyper\nicily\nicing\nideal\nidiom\nidiot\nidler\nidyll\nigloo\niliac\nimage\nimbue\nimpel\nimply\ninane\ninbox\nincur\nindex\ninept\ninert\ninfer\ningot\ninlay\ninlet\ninner\ninput\ninter\nintro\nionic\nirate\nirony\nislet\nissue\nitchy\nivory\njaunt\njazzy\njelly\njerky\njetty\njewel\njiffy\njoint\njoist\njoker\njolly\njoust\njudge\njuice\njuicy\njumbo\njumpy\njunta\njunto\njuror\nkappa\nkarma\nkayak\nkebab\nkhaki\nkinky\nkiosk\nkitty\nknack\nknave\nknead\nkneed\nkneel\nknelt\nknife\nknock\nknoll\nknown\nkoala\nkrill\nlabel\nlabor\nladen\nladle\nlager\nlance\nlanky\nlapel\nlapse\nlarge\nlarva\nlasso\nlatch\nlater\nlathe\nlatte\nlaugh\nlayer\nleach\nleafy\nleaky\nleant\nleapt\nlearn\nlease\nleash\nleast\nleave\nledge\nleech\nleery\nlefty\nlegal\nleggy\nlemon\nlemur\nleper\nlevel\nlever\nlibel\nliege\nlight\nliken\nlilac\nlimbo\nlimit\nlinen\nliner\nlingo\nlipid\nlithe\nliver\nlivid\nllama\nloamy\nloath\nlobby\nlocal\nlocus\nlodge\nlofty\nlogic\nlogin\nloopy\nloose\nlorry\nloser\nlouse\nlousy\nlover\nlower\nlowly\nloyal\nlucid\nlucky\nlumen\nlumpy\nlunar\nlunch\nlunge\nlupus\nlurch\nlurid\nlusty\nlying\nlymph\nlyric\nmacaw\nmacho\nmacro\nmadam\nmadly\nmafia\nmagic\nmagma\nmaize\nmajor\nmaker\nmambo\nmamma\nmammy\nmanga\nmange\nmango\nmangy\nmania\nmanic\nmanly\nmanor\nmaple\nmarch\nmarry\nmarsh\nmason\nmasse\nmatch\nmatey\nmauve\nmaxim\nmaybe\nmayor\nmealy\nmeant\nmeaty\nmecca\nmedal\nmedia\nmedic\nmelee\nmelon\nmercy\nmerge\nmerit\nmerry\nmetal\nmeter\nmetro\nmicro\nmidge\nmidst\nmight\nmilky\nmimic\nmince\nminer\nminim\nminor\nminty\nminus\nmirth\nmiser\nmissy\nmocha\nmodal\nmodel\nmodem\nmogul\nmoist\nmolar\nmoldy\nmoney\nmonth\nmoody\nmoose\nmoral\nmoron\nmorph\nmossy\nmotel\nmotif\nmotor\nmotto\nmoult\nmound\nmount\nmourn\nmouse\nmouth\nmover\nmovie\nmower\nmucky\nmucus\nmuddy\nmulch\nmummy\nmunch\nmural\nmurky\nmushy\nmusic\nmusky\nmusty\nmyrrh\nnadir\nnaive\nnanny\nnasal\nnasty\nnatal\nnaval\nnavel\nneedy\nneigh\nnerdy\nnerve\nnever\nnewer\nnewly\nnicer\nniche\nniece\nnight\nninja\nninny\nninth\nnoble\nnobly\nnoise\nnoisy\nnomad\nnoose\nnorth\nnosey\nnotch\nnovel\nnudge\nnurse\nnutty\nnylon\nnymph\noaken\nobese\noccur\nocean\noctal\noctet\nodder\noddly\noffal\noffer\noften\nolden\nolder\nolive\nombre\nomega\nonion\nonset\nopera\nopine\nopium\noptic\norbit\norder\norgan\nother\notter\nought\nounce\noutdo\nouter\noutgo\novary\novate\novert\novine\novoid\nowing\nowner\noxide\nozone\npaddy\npagan\npaint\npaler\npalsy\npanel\npanic\npansy\npapal\npaper\nparer\nparka\nparry\nparse\nparty\npasta\npaste\npasty\npatch\npatio\npatsy\npatty\npause\npayee\npayer\npeace\npeach\npearl\npecan\npedal\npenal\npence\npenne\npenny\nperch\nperil\nperky\npesky\npesto\npetal\npetty\nphase\nphone\nphony\nphoto\npiano\npicky\npiece\npiety\npiggy\npilot\npinch\npiney\npinky\npinto\npiper\npique\npitch\npithy\npivot\npixel\npixie\npizza\nplace\nplaid\nplain\nplait\nplane\nplank\nplant\nplate\nplaza\nplead\npleat\nplied\nplier\npluck\nplumb\nplume\nplump\nplunk\nplush\npoesy\npoint\npoise\npoker\npolar\npolka\npolyp\npooch\npoppy\nporch\nposer\nposit\nposse\npouch\npound\npouty\npower\nprank\nprawn\npreen\npress\nprice\nprick\npride\npried\nprime\nprimo\nprint\nprior\nprism\nprivy\nprize\nprobe\nprone\nprong\nproof\nprose\nproud\nprove\nprowl\nproxy\nprude\nprune\npsalm\npubic\npudgy\npuffy\npulpy\npulse\npunch\npupil\npuppy\npuree\npurer\npurge\npurse\npushy\nputty\npygmy\nquack\nquail\nquake\nqualm\nquark\nquart\nquash\nquasi\nqueen\nqueer\nquell\nquery\nquest\nqueue\nquick\nquiet\nquill\nquilt\nquirk\nquite\nquota\nquote\nquoth\nrabbi\nrabid\nracer\nradar\nradii\nradio\nrainy\nraise\nrajah\nrally\nralph\nramen\nranch\nrandy\nrange\nrapid\nrarer\nraspy\nratio\nratty\nraven\nrayon\nrazor\nreach\nreact\nready\nrealm\nrearm\nrebar\nrebel\nrebus\nrebut\nrecap\nrecur\nrecut\nreedy\nrefer\nrefit\nregal\nrehab\nreign\nrelax\nrelay\nrelic\nremit\nrenal\nrenew\nrepay\nrepel\nreply\nrerun\nreset\nresin\nretch\nretro\nretry\nreuse\nrevel\nrevue\nrhino\nrhyme\nrider\nridge\nrifle\nright\nrigid\nrigor\nrinse\nripen\nriper\nrisen\nriser\nrisky\nrival\nriver\nrivet\nroach\nroast\nrobin\nrobot\nrocky\nrodeo\nroger\nrogue\nroomy\nroost\nrotor\nrouge\nrough\nround\nrouse\nroute\nrover\nrowdy\nrower\nroyal\nruddy\nruder\nrugby\nruler\nrumba\nrumor\nrupee\nrural\nrusty\nsadly\nsafer\nsaint\nsalad\nsally\nsalon\nsalsa\nsalty\nsalve\nsalvo\nsandy\nsaner\nsappy\nsassy\nsatin\nsatyr\nsauce\nsaucy\nsauna\nsaute\nsavor\nsavoy\nsavvy\nscald\nscale\nscalp\nscaly\nscamp\nscant\nscare\nscarf\nscary\nscene\nscent\nscion\nscoff\nscold\nscone\nscoop\nscope\nscore\nscorn\nscour\nscout\nscowl\nscram\nscrap\nscree\nscrew\nscrub\nscrum\nscuba\nsedan\nseedy\nsegue\nseize\nsemen\nsense\nsepia\nserif\nserum\nserve\nsetup\nseven\nsever\nsewer\nshack\nshade\nshady\nshaft\nshake\nshaky\nshale\nshall\nshalt\nshame\nshank\nshape\nshard\nshare\nshark\nsharp\nshave\nshawl\nshear\nsheen\nsheep\nsheer\nsheet\nsheik\nshelf\nshell\nshied\nshift\nshine\nshiny\nshire\nshirk\nshirt\nshoal\nshock\nshone\nshook\nshoot\nshore\nshorn\nshort\nshout\nshove\nshown\nshowy\nshrew\nshrub\nshrug\nshuck\nshunt\nshush\nshyly\nsiege\nsieve\nsight\nsigma\nsilky\nsilly\nsince\nsinew\nsinge\nsiren\nsissy\nsixth\nsixty\nskate\nskier\nskiff\nskill\nskimp\nskirt\nskulk\nskull\nskunk\nslack\nslain\nslang\nslant\nslash\nslate\nsleek\nsleep\nsleet\nslept\nslice\nslick\nslide\nslime\nslimy\nsling\nslink\nsloop\nslope\nslosh\nsloth\nslump\nslung\nslunk\nslurp\nslush\nslyly\nsmack\nsmall\nsmart\nsmash\nsmear\nsmell\nsmelt\nsmile\nsmirk\nsmite\nsmith\nsmock\nsmoke\nsmoky\nsmote\nsnack\nsnail\nsnake\nsnaky\nsnare\nsnarl\nsneak\nsneer\nsnide\nsniff\nsnipe\nsnoop\nsnore\nsnort\nsnout\nsnowy\nsnuck\nsnuff\nsoapy\nsober\nsoggy\nsolar\nsolid\nsolve\nsonar\nsonic\nsooth\nsooty\nsorry\nsound\nsouth\nsower\nspace\nspade\nspank\nspare\nspark\nspasm\nspawn\nspeak\nspear\nspeck\nspeed\nspell\nspelt\nspend\nspent\nsperm\nspice\nspicy\nspied\nspiel\nspike\nspiky\nspill\nspilt\nspine\nspiny\nspire\nspite\nsplat\nsplit\nspoil\nspoke\nspoof\nspook\nspool\nspoon\nspore\nsport\nspout\nspray\nspree\nsprig\nspunk\nspurn\nspurt\nsquad\nsquat\nsquib\nstack\nstaff\nstage\nstaid\nstain\nstair\nstake\nstale\nstalk\nstall\nstamp\nstand\nstank\nstare\nstark\nstart\nstash\nstate\nstave\nstead\nsteak\nsteal\nsteam\nsteed\nsteel\nsteep\nsteer\nstein\nstern\nstick\nstiff\nstill\nstilt\nsting\nstink\nstint\nstock\nstoic\nstoke\nstole\nstomp\nstone\nstony\nstood\nstool\nstoop\nstore\nstork\nstorm\nstory\nstout\nstove\nstrap\nstraw\nstray\nstrip\nstrut\nstuck\nstudy\nstuff\nstump\nstung\nstunk\nstunt\nstyle\nsuave\nsugar\nsuing\nsuite\nsulky\nsully\nsumac\nsunny\nsuper\nsurer\nsurge\nsurly\nsushi\nswami\nswamp\nswarm\nswash\nswath\nswear\nsweat\nsweep\nsweet\nswell\nswept\nswift\nswill\nswine\nswing\nswirl\nswish\nswoon\nswoop\nsword\nswore\nsworn\nswung\nsynod\nsyrup\ntabby\ntable\ntaboo\ntacit\ntacky\ntaffy\ntaint\ntaken\ntaker\ntally\ntalon\ntamer\ntango\ntangy\ntaper\ntapir\ntardy\ntarot\ntaste\ntasty\ntatty\ntaunt\ntawny\nteach\nteary\ntease\nteddy\nteeth\ntempo\ntenet\ntenor\ntense\ntenth\ntepee\ntepid\nterra\nterse\ntesty\nthank\ntheft\ntheir\ntheme\nthere\nthese\ntheta\nthick\nthief\nthigh\nthing\nthink\nthird\nthong\nthorn\nthose\nthree\nthrew\nthrob\nthrow\nthrum\nthumb\nthump\nthyme\ntiara\ntibia\ntidal\ntiger\ntight\ntilde\ntimer\ntimid\ntipsy\ntitan\ntithe\ntitle\ntoast\ntoday\ntoddy\ntoken\ntonal\ntonga\ntonic\ntooth\ntopaz\ntopic\ntorch\ntorso\ntorus\ntotal\ntotem\ntouch\ntough\ntowel\ntower\ntoxic\ntoxin\ntrace\ntrack\ntract\ntrade\ntrail\ntrain\ntrait\ntramp\ntrash\ntrawl\ntread\ntreat\ntrend\ntriad\ntrial\ntribe\ntrice\ntrick\ntried\ntripe\ntrite\ntroll\ntroop\ntrope\ntrout\ntrove\ntruce\ntruck\ntruer\ntruly\ntrump\ntrunk\ntruss\ntrust\ntruth\ntryst\ntubal\ntuber\ntulip\ntulle\ntumor\ntunic\nturbo\ntutor\ntwang\ntweak\ntweed\ntweet\ntwice\ntwine\ntwirl\ntwist\ntwixt\ntying\nudder\nulcer\nultra\numbra\nuncle\nuncut\nunder\nundid\nundue\nunfed\nunfit\nunify\nunion\nunite\nunity\nunlit\nunmet\nunset\nuntie\nuntil\nunwed\nunzip\nupper\nupset\nurban\nurine\nusage\nusher\nusing\nusual\nusurp\nutile\nutter\nvague\nvalet\nvalid\nvalor\nvalue\nvalve\nvapid\nvapor\nvault\nvaunt\nvegan\nvenom\nvenue\nverge\nverse\nverso\nverve\nvicar\nvideo\nvigil\nvigor\nvilla\nvinyl\nviola\nviper\nviral\nvirus\nvisit\nvisor\nvista\nvital\nvivid\nvixen\nvocal\nvodka\nvogue\nvoice\nvoila\nvomit\nvoter\nvouch\nvowel\nvying\nwacky\nwafer\nwager\nwagon\nwaist\nwaive\nwaltz\nwarty\nwaste\nwatch\nwater\nwaver\nwaxen\nweary\nweave\nwedge\nweedy\nweigh\nweird\nwelch\nwelsh\nwhack\nwhale\nwharf\nwheat\nwheel\nwhelp\nwhere\nwhich\nwhiff\nwhile\nwhine\nwhiny\nwhirl\nwhisk\nwhite\nwhole\nwhoop\nwhose\nwiden\nwider\nwidow\nwidth\nwield\nwight\nwilly\nwimpy\nwince\nwinch\nwindy\nwiser\nwispy\nwitch\nwitty\nwoken\nwoman\nwomen\nwoody\nwooer\nwooly\nwoozy\nwordy\nworld\nworry\nworse\nworst\nworth\nwould\nwound\nwoven\nwrack\nwrath\nwreak\nwreck\nwrest\nwring\nwrist\nwrite\nwrong\nwrote\nwrung\nwryly\nyacht\nyearn\nyeast\nyield\nyoung\nyouth\nzebra\nzesty\nzonal'

This is good, but not very helpful! Ideally we would like a list of words. Thankfully, `file` is now just a string, and we can split it with `splitlines()` (or `strip()` and the correct arguments):

In [ ]:
lines_1 = file.splitlines()
# or: lines_1 = file.split(sep = "\n")
lines_1[:5]

['aback', 'abase', 'abate', 'abbey', 'abbot']

This pattern of reading text from a file, then extracting the lines from it is a very common pattern. One can accomplish this in one step using `readlines()`:

In [ ]:
with open(filepath, "r") as f:
    lines_2 = f.readlines()

In [ ]:
lines_2[:5]

['aback\n', 'abase\n', 'abate\n', 'abbey\n', 'abbot\n']

The `\n` character you see at the end of these words is the newline character, and prints a new line. Here's what the effect of printing it is:

In [ ]:
print(lines_1[0])
print(lines_2[0])

aback
aback

In [ ]:
print(repr(lines_1[0]))
print(repr(lines_2[0]))

'aback'
'aback\n'

To remove these trailing newline characters, you can use the `rstrip()` function (or to remove trailing and starting whitespace, use `strip()`):

In [ ]:
# The repr() function in Python returns a string that represents the object in
# a way that is meant to be unambiguous. For strings, repr() often adds quotes
# around the string and includes any special characters (like \n for newlines,
# \t for tabs, etc.) in their escaped forms.
print(repr(lines_2[0].rstrip()))

'aback'

### Writing to files

The next natural thing to want to do is to write to a file. Instead of using the `open()` function in read-only mode, we can use the `"w"` mode to write to a file (or `"a"` to append to a file that already has content).

We write to files using the `write()` function, as demonstrated below:

In [ ]:
from google.colab import drive
drive.mount('/content/drive') #mount the drive

Mounted at /content/drive

In [ ]:
write_filepath = "/content/drive/MyDrive/sample.txt"
with open(write_filepath, "w") as f:
    f.write("Hello world!\n")

In [ ]:
write_filepath = "/content/drive/MyDrive/sample.txt"
with open(write_filepath, "a") as f:
    f.write("Hello NYU!\n")

### (Advanced) Reading and writing raw data to files

So far we've seen how we read and write to text files. However, sometimes we want to store Python data structures directly to a file. We'll see later how to store numeric data and dataframes directly to file, but here's a way using the `pickle` module to *serialize* arbitrary Python data to file.

In [ ]:
import pickle

In [ ]:
pickle_filepath = "/content/drive/MyDrive/sample_data.p"

In [ ]:
with open(pickle_filepath, "wb") as f:
    pickle.dump(lines_1, f)

Here, we open the filepath in `"wb"` mode ("write-bytes"), since we are writing binary data to it. We write to a file using the `pickle.dump()` function.

We can read from a pickled file using `pickle.load()`, as follows:

In [ ]:
with open(pickle_filepath, "rb") as f:
    lines_1_p = pickle.load(f)

In [ ]:
lines_1_p[:5]

['aback', 'abase', 'abate', 'abbey', 'abbot']

Further reading: https://docs.python.org/3/library/pickle.html#module-pickle

# Module 3 - Advanced Data Structures

So far, we've seen one example of a composite data structure, the `list` (and also our only example of a sequence type). Python actually has a variety of these data structures, which allow us to organize our data in a logical way, and perform computations efficiently.

---

### Tuples

A tuple is like a list, but it is *immutable*, meaning it cannot be modified after creation. We create tuples using round brackets, as follows:

In [ ]:
my_tuple = (1, "a", [1, 2])

In [ ]:
my_tuple[1:3]

('a', [1, 2])

In [ ]:
# Tuples do not support item assignment
my_tuple[0] = 2

TypeError: 'tuple' object does not support item assignment

In [ ]:
# But they can contain mutable objects, and those can be mutated:

In [ ]:
my_tuple[2].append(3)

In [ ]:
my_tuple

(1, 'a', [1, 2, 3])

Tuples can be *packed* and *unpacked*. Tuple packing refers to combining one or more objects into a tuple:

In [ ]:
my_tuple = 1, "a", [1, 2] # notice the lack of parentheses
my_tuple

(1, 'a', [1, 2])

While tuple unpacking allows us to create new references to individual elements in the tuple:

In [ ]:
# Tuple unpacking:
x, y, z = my_tuple
print(x)
print(y)
print(z)

1
a
[1, 2]

(Actually, tuple unpacking is a special case of sequence unpacking and works for any sequence type:)

In [ ]:
x, y, z = [1, 2, 3]
print(x)
print(y)
print(z)

1
2
3

### Sets

A Python set -- like the math definition of a set -- is an *unordered* collection with no duplicate elements. It's useful for membership testing and eliminating duplicate entries. Here's an example:

In [ ]:
my_quiz_scores = [7,3,4,8,8,6,7,4]

In [ ]:
my_quiz_scores_set = set(my_quiz_scores)
my_quiz_scores_set

{3, 4, 6, 7, 8}

Many of the same things you can do with lists, you can do with sets too. For example:

In [ ]:
4 in my_quiz_scores_set

True

In [ ]:
# A new student's score arrive, and they scored 10
my_quiz_scores_set.add(10) # instead of append() for lists, since sets are unordered
my_quiz_scores_set

{3, 4, 6, 7, 8, 10}

There are also set-specific operations you can do with two sets; here are some examples:

In [ ]:
passing_scores = set(range(5, 11))
passing_scores

{5, 6, 7, 8, 9, 10}

In [ ]:
# set union
print(passing_scores | my_quiz_scores_set)
print(passing_scores.union(my_quiz_scores_set))

{3, 4, 5, 6, 7, 8, 9, 10}
{3, 4, 5, 6, 7, 8, 9, 10}

In [ ]:
# set intersection
print(passing_scores & my_quiz_scores_set)
print(passing_scores.intersection(my_quiz_scores_set))

{8, 10, 6, 7}
{8, 10, 6, 7}

In [ ]:
# set difference
print(my_quiz_scores_set - passing_scores)
print(my_quiz_scores_set.difference(passing_scores))

{3, 4}
{3, 4}

A list of the various set operations available can be found [here](https://docs.python.org/3/library/stdtypes.html#set). Alternatively, you can use the `help()` function to expose the methods of a Python object:

In [ ]:
help(my_quiz_scores_set)

Help on set object:

class set(object)
 |  set() -> new empty set object
 |  set(iterable) -> new set object
 |
 |  Build an unordered collection of unique elements.
 |
 |  Methods defined here:
 |
 |  __and__(self, value, /)
 |      Return self&value.
 |
 |  __contains__(...)
 |      x.__contains__(y) <==> y in x.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iand__(self, value, /)
 |      Return self&=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __ior__(self, value, /)
 |      Return self|=value.
 |
 |  __isub__(self, value, /)
 |      Return self-=value.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __ixor__(self, value, /)
 |      Return self^=value.
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __or__(self, value, /)
 |      Return self|value.
 |
 |  __rand__(self, value, /)
 |      Return value&self.
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __ror__(self, value, /)
 |      Return value|self.
 |
 |  __rsub__(self, value, /)
 |      Return value-self.
 |
 |  __rxor__(self, value, /)
 |      Return value^self.
 |
 |  __sizeof__(...)
 |      S.__sizeof__() -> size of S in memory, in bytes
 |
 |  __sub__(self, value, /)
 |      Return self-value.
 |
 |  __xor__(self, value, /)
 |      Return self^value.
 |
 |  add(...)
 |      Add an element to a set.
 |
 |      This has no effect if the element is already present.
 |
 |  clear(...)
 |      Remove all elements from this set.
 |
 |  copy(...)
 |      Return a shallow copy of a set.
 |
 |  difference(...)
 |      Return the difference of two or more sets as a new set.
 |
 |      (i.e. all elements that are in this set but not the others.)
 |
 |  difference_update(...)
 |      Remove all elements of another set from this set.
 |
 |  discard(...)
 |      Remove an element from a set if it is a member.
 |
 |      Unlike set.remove(), the discard() method does not raise
 |      an exception when an element is missing from the set.
 |
 |  intersection(...)
 |      Return the intersection of two sets as a new set.
 |
 |      (i.e. all elements that are in both sets.)
 |
 |  intersection_update(...)
 |      Update a set with the intersection of itself and another.
 |
 |  isdisjoint(...)
 |      Return True if two sets have a null intersection.
 |
 |  issubset(self, other, /)
 |      Test whether every element in the set is in other.
 |
 |  issuperset(self, other, /)
 |      Test whether every element in other is in the set.
 |
 |  pop(...)
 |      Remove and return an arbitrary set element.
 |      Raises KeyError if the set is empty.
 |
 |  remove(...)
 |      Remove an element from a set; it must be a member.
 |
 |      If the element is not a member, raise a KeyError.
 |
 |  symmetric_difference(...)
 |      Return the symmetric difference of two sets as a new set.
 |
 |      (i.e. all elements that are in exactly one of the sets.)
 |
 |  symmetric_difference_update(...)
 |      Update a set with the symmetric difference of itself and another.
 |
 |  union(...)
 |      Return the union of sets as a new set.
 |
 |      (i.e. all elements that are in either set.)
 |
 |  update(...)
 |      Update a set with the union of itself and others.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...)
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs)
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

## Dictionaries

So far, we've seen a few different examples of composite data structures: the `list`, the `tuple`, and the `set`. All of these are collections; the former two are also sequences (ordered collections), while the set is an unordered collection.

Here we introduce a different data structure (and perhaps the most Python-ic): the dictionary. It's a *mapping* type, and maps keys to values. Keys have to be unique within a dictionary, and allows us to look up items by key, instead of by an integer index in the case of lists. Here's an example:

In [ ]:
# Create an empty dictionary of products and their prices
product_prices = {}

# Adds products (keys) and prices (values) to the dictionary
product_prices["apple"] = 2
product_prices["banana"] = 2
product_prices["carrot"] = 3

print(product_prices)

{'apple': 2, 'banana': 2, 'carrot': 3}

In the above code, we:
- initialized an empty dictionary using `{}` (one can also use `dict()`)
- added key-value pairs using the syntax `dict[key] = value`

You can use dictionaries to test for membership, like for other collection types. You can also access values by their key:

In [ ]:
# membership tests
print("apple" in product_prices)
print("apple" in product_prices.keys())
print("donut" in product_prices)

True
True
False

In [ ]:
# accessing values by key
print("apple", product_prices["apple"])

apple 2

In [ ]:
# use the get() function if you don't know if the collection has the key!
print("donut", product_prices.get("donut"))

donut None

Since a dictionary is also a collection, you can iterate over it in a `for` loop. Here are a few ways to do it:

In [ ]:
# iterate over dictionary keys
print(product_prices.keys())
for item in product_prices.keys():
    print(item, product_prices[item])

dict_keys(['apple', 'banana', 'carrot'])
apple 2
banana 2
carrot 3

In [ ]:
# iterate over dictionary key-value pairs (very useful!)
print(product_prices.items())
for item, price in product_prices.items():
    print(item, price)

dict_items([('apple', 2), ('banana', 2), ('carrot', 3)])
apple 2
banana 2
carrot 3

You can also:
- remove keys and their values
- update with key-value pairs of other dictionaries

In [ ]:
del product_prices["carrot"]

In [ ]:
more_prices = {"donut": 4, "eggplant": 3}
product_prices.update(more_prices)
product_prices

{'apple': 2, 'banana': 2, 'donut': 4, 'eggplant': 3}

In [ ]:
product_prices[[1,2,3]] = "No"

TypeError: unhashable type: 'list'

In [ ]:
product_prices[(1, 2, 3)] = "Yes"

For everything you can do with dictionaries, see here: https://docs.python.org/3/library/stdtypes.html#mapping-types-dict

### Comprehensions

So far, we have seen ways to create lists and add items to lists via `append()` (or `add()` for sets, and `update()` for dictionaries). One very common pattern is to iterative add items to a collection using a `for` loop, and there is a very Pythonic for this: comprehensions.

Below is an example of a list comprehension:

In [ ]:
# Recall our earlier example?
squares = [1, 4, 9, 16, 25]

In [ ]:
# Instead of this:
squares = []
for i in range(1, 6):
    squares.append(i ** 2)
squares

[1, 4, 9, 16, 25]

In [ ]:
squares = [i ** 2 for i in range(1, 6)]

A list comprehension consists of brackets containing an expression followed by a `for` clause, then zero or more `for` or `if` clauses. This allows for nested `for` clauses and `if` conditions:

In [ ]:
triangle = [
    (i, j)
    for i in range(4)
    for j in range(i)
    if j % 2 == 0
]
triangle

[(1, 0), (2, 0), (3, 0), (3, 2)]

In [ ]:
list(range(4))

[0, 1, 2, 3]

In [ ]:
# this is so similar to the following code:
triangle = []
for i in range(4): # 0, 1, 2, 3
    for j in range(i):
        # (1,0),
        # (2,0), (2,1)
        # (3,0), (3,1), (3,2)
        if j % 2 == 0:
            triangle.append((i, j))
triangle

[(1, 0), (2, 0), (3, 0), (3, 2)]

List comprehensions are very useful for:
- making new lists where each element is the result of operations on each member of another sequence,
- or creating a new subsequence of those elements that satisfy a condition.

We can use the same syntax to construct sets:

In [ ]:
squares_set = {i**2 for i in range(1, 6)}
squares_set

{1, 4, 9, 16, 25}

And dictionaries:

In [ ]:
squares_dict = {i: i ** 2 for i in range(1, 6)}
squares_dict

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

If we use parentheses instead of square brackets, we get something unexpected:

In [ ]:
(i**2 for i in range(1, 6))

What are these? these are *generator expressions*, which returns an iterator. An iterator is very similar to a list, (both are ordered collections), just that the iterator does not create and store all the objects in memory. This makes it useful for iterating over the collection under memory constraints. We illustrate this below:

In [ ]:
squares_large = [i**2 for i in range(10000000)]
for i in squares_large:
    print(i)
    break

0

In [ ]:
squares_large_genexp = (i**2 for i in range(10000000))
for i in squares_large_genexp:
    print(i)
    break

0

We can even dig in to recover the size (in bytes) that the list comprehension and the generator expression hold in memory:

In [ ]:
import sys

print(sys.getsizeof(squares_large))
print(sys.getsizeof(squares_large_genexp))

89095160
208